<h1>Exercise 06 - Python Data Types</h1>

<hr>

<h2>Built-in Data Types</h2>
<p>In programming, data type is an important concept.</p>
<p>Variables can store data of different types, and different types can do 
different things.</p>
<p>Python has the following data types built-in by default, in these categories:</p>
<br>
<div>
<table class="w3-table" align="left"  style="text-align:left">
  <tr>
    <td style="width:160px; text-align:left;">Text Type:</td>
    <td style="text-align:left"><code class="w3-codespan">str</code></td>
  </tr>
  <tr>
    <td style="text-align:left">Numeric Types:</td>
    <td style="text-align:left"><code class="w3-codespan">int</code>, <code class="w3-codespan">float</code>,
    <code class="w3-codespan">complex</code></td>
  </tr>
  <tr>
    <td style="text-align:left">Sequence Types:</td>
    <td style="text-align:left"><code class="w3-codespan">list</code>, <code class="w3-codespan">tuple</code>, 
    <code class="w3-codespan">range</code></td>
  </tr>
  <tr>
    <td style="text-align:left">Mapping Type:</td>
    <td style="text-align:left"><code class="w3-codespan">dict</code></td>
  </tr>
  <tr>
    <td style="text-align:left">Set Types:</td>
    <td style="text-align:left"><code class="w3-codespan">set</code>, <code class="w3-codespan">frozenset</code></td>
  </tr>
  <tr>
    <td style="text-align:left">Boolean Type:</td>
    <td style="text-align:left"><code class="w3-codespan">bool</code></td>
  </tr>
  <tr>
    <td style="text-align:left">Binary Types:</td>
    <td style="text-align:left"><code class="w3-codespan">bytes</code>, <code class="w3-codespan">bytearray</code>, 
    <code class="w3-codespan">memoryview</code></td>
  </tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>Getting the Data Type</h2>

<p>You can get the data type of any object by using the <code class="w3-codespan">type()</code> function:</p>

<div class="w3-example">
<h3>Example</h3>
  <p>Print the data type of the variable x:</p>

In [1]:
x = 2 + 4j
y = 1 - 1j

In [2]:
z = x+y
print(z)

(3+3j)

In [5]:
x = range(5,100)
print(type(x))
print(x)
for each_item in x:
    print (each_item)

<class 'range'>
range(5, 100)
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [8]:
x = ("apple", "banana", "cherry")
x=str(x)
print(type(x))
print(x)

<class 'str'>
('apple', 'banana', 'cherry')

In [12]:
binary = 1
print(type(binary))

<class 'int'>

<hr>

<h2>Setting the Data Type</h2>

<p>In Python, the data type is set when you assign a value to a variable:</p>
<style>
#dtref td:nth-child(1) {
  font-family: Consolas,"courier new";
  font-size: 110%;
}
</style>
<table id="dtref" class="w3-table-all notranslate" align="left">
<tr>
<th style="min-width:350px; text-align:left">Example</th>
<th style="text-align:left">Data Type</th>
</tr>
<tr>
<td style="text-align:left">x = &quot;Hello World&quot;</td>
<td style="text-align:left">str</td>
</tr>
<tr>
<td style="text-align:left">x = 20</td>
<td style="text-align:left">int</td>
</tr>
<tr>
<td style="text-align:left">x = 20.5</td>
<td style="text-align:left">float</td>
</tr>
<tr>
<td style="text-align:left">x = 1j</td>
<td style="text-align:left">complex</td>
</tr>
<tr>
<td  style="text-align:left">x = [&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;]</td>
<td  style="text-align:left">list</td>
</tr>
  <tr>
<td  style="text-align:left">x = (&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;)</td>
<td style="text-align:left">tuple</td>

  </tr>
  <tr>
<td style="text-align:left">x = range(6)</td>
<td style="text-align:left">range</td>

  </tr>
  <tr>
<td style="text-align:left">x = {&quot;name&quot; : &quot;John&quot;, &quot;age&quot; : 36}</td>
<td style="text-align:left">dict</td>

  </tr>
  <tr>
<td style="text-align:left">x = {&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;}</td>
<td style="text-align:left">set</td>

  </tr>
  <tr>
<td style="text-align:left">x = frozenset({&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;})</td>
<td style="text-align:left">frozenset</td>

  </tr>
  <tr>
<td style="text-align:left">x = True</td>
<td style="text-align:left">bool</td>

  </tr>
  <tr>
<td style="text-align:left">x = b&quot;Hello&quot;</td>
<td style="text-align:left">bytes</td>

  </tr>
  <tr>
<td style="text-align:left">x = bytearray(5)</td>
<td style="text-align:left">bytearray</td>

  </tr>
<tr>
<td style="text-align:left">x = memoryview(bytes(5))</td>
<td style="text-align:left">memoryview</td>

</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h2>Setting the Specific Data Type</h2>
<p>If you want to specify the data type, you can use the following 
constructor functions:</p>

<table id="dtref" class="w3-table-all notranslate" align="left">
<tr>
<th style="min-width:350px; text-align:left">Example</th>
<th style="text-align:left">Data Type</th>
</tr>
<tr>
<td style="text-align:left">x = str(&quot;Hello World&quot;)</td>
<td style="text-align:left">str</td>
</tr>
<tr>
<td style="text-align:left">x = int(20)</td>
<td style="text-align:left">int</td>
</tr>
<tr>
<td style="text-align:left">x = float(20.5)</td>
<td style="text-align:left">float</td>
</tr>
<tr>
<td style="text-align:left">x = complex(1j)</td>
<td style="text-align:left">complex</td>

</tr>
<tr>
<td style="text-align:left">x = list((&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;))</td>
<td style="text-align:left">list</td>
</tr>
  <tr>
<td style="text-align:left">x = tuple((&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;))</td>
<td style="text-align:left">tuple</td>
  </tr>
  <tr>
<td style="text-align:left">x = range(6)</td>
<td style="text-align:left">range</td>
  </tr>
  <tr>
<td style="text-align:left">x = dict(name=&quot;John&quot;, age=36)</td>
<td style="text-align:left">dict</td>
  </tr>
  <tr>
<td style="text-align:left">x = set((&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;))</td>
<td style="text-align:left">set</td>
  </tr>
  <tr>
<td style="text-align:left">x = frozenset((&quot;apple&quot;, &quot;banana&quot;, &quot;cherry&quot;))</td>
<td style="text-align:left">frozenset</td>

  </tr>
  <tr>
<td style="text-align:left">x = bool(5)</td>
<td style="text-align:left">bool</td>
  </tr>
  <tr>
<td style="text-align:left">x = bytes(5)</td>
<td style="text-align:left">bytes</td>
  </tr>
  <tr>
<td style="text-align:left">x = bytearray(5)</td>
<td style="text-align:left">bytearray</td>

  </tr>
<tr>
<td style="text-align:left">x = memoryview(bytes(5))</td>
<td style="text-align:left">memoryview</td>

</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a id="exercises"></a>

<h2>Test Yourself With Exercises</h2>
<h2>Exercise:</h2>
<p>The following code example would print the data type of x, what data type would that be?</p>

In [13]:
x = frozenset(("apple", "banana", "cherry"))
print(type(x))
print(x)

<class 'frozenset'>
frozenset({'cherry', 'apple', 'banana'})

In [6]:
def sqrProd(x, y):
    return (x*y)*(x*y)

In [7]:
print(sqrProd(2, 5))

100